{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <hr>

  {% if person.profile_img %}
    <img src="{{ person.profile_img.url }}" alt="프로필 사진" style="width:200px; height:200px; object-fit: cover; border-radius: 50%; margin-bottom:3rem;">
  {% endif %}
  
  <p>아이디: {{ person.username }}</p>
  <p>이메일: {{ person.email }}</p>
  <p>이름: {{ person.last_name }}{{ person.first_name }}</p>
  <p>성별: {{ person.get_gender_display }}</p>
  <p>나이: {{ person.age }}</p>
  <p>주간 평균 독서 시간: {{ person.weekly_avg_reading_time }}시간</p>
  <p>연간 독서량: {{ person.annual_reading_amount }}권</p>
  <p>관심 장르: 
    {% for category in person.interested_genres.all %}
      <li>{{ category.name }}</li>
    {% empty %}
      없음
    {% endfor %}
  </p>
  <hr>

  <!-- 팔로우 버튼 및 팔로워/팔로잉 수 표시 -->
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div>
      <button id="follow-button" class="btn">
        {% if person in request.user.followings.all %}
          팔로우 취소
        {% else %}
          팔로우
        {% endif %}
      </button>
    </div>
    <div>
      팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 
      팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
    </div>
  </div>
  <hr>

  <h2>{{ person.username }}님의 쓰레드 목록</h2>
  <ul>
    {% for thread in person.thread_set.all %}
      <li>
        <a href="{% url 'books:thread_detail' thread.book.pk thread.pk %}">
          {{ thread.title }}
        </a>
        - 좋아요: {{ thread.likes.count }}
      </li>
    {% empty %}
      <li>작성된 쓰레드가 없습니다.</li>
    {% endfor %}
  </ul>

{% endblock content %}

{% block script %}
<script>
document.getElementById('follow-button').addEventListener('click', function() {
    let user_pk = {{ person.pk }};
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    // AJAX 요청 보내기
    fetch(`/accounts/${user_pk}/follow/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        // 팔로우 상태에 따른 버튼 텍스트 변경
        if (data.followed) {
            document.getElementById('follow-button').innerText = '팔로우 취소';
        } else {
            document.getElementById('follow-button').innerText = '팔로우';
        }
        // 팔로워/팔로잉 수 갱신 (선택 사항)
        document.getElementById('followers-count').textContent = data.followers_count;
        // document.getElementById('followings-count').innerText = data.followings_count;
    })
    .catch(error => console.error('Error:', error));
});
</script>
{% endblock script %}
